body {
  background-color: #eaecf2;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.list {
  position: relative;
  text-align: center;
}

.list__search {
  padding: 10px;
  margin: 0 auto;
  max-width: 360px;
}

.list__error {
  position: absolute;
  padding: 5px;
  color: #fff;
  background-color: #f44336;
}

.list__highlight {
  background-color: #f4ce2c;
  padding: 2px 0;
  border-radius: 3px;
}

.pokemons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemons__item {
  display: inline-flex;
  margin: 10px;
  width: 140px;
  height: 215px;
}

.pokemons__item img {
  margin: 0 2px;
}

.pokemons__no-content {
  margin: 0 auto;
  max-width: 340px;
}

.pokemon {
  position: relative;
  z-index: 20000;
  overflow: hidden;
  background-color: #eee;
  cursor: pointer;
}

.pokemon:hover {
  outline: 3px solid aqua;
}

.pokemon__sprite {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: none;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.pokemon,
.pokemon__sprite {
  width: 140px;
  height: 140px;
}

.pokemon__name {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 14px;
  pointer-events: none;
}
/* LOADER */
.loader {
  margin: 30px auto;
  text-align: center;
  line-height: 3;
}

/* POCKEMON PAGE */
.pokemon_page {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 320px;
  width: 95%;
  padding: 30px 10px;
  box-sizing: border-box;
}
.pokemon_page__grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr min-content;
  grid-auto-flow: row;
}

.pokemon_page__caption {
  text-transform: capitalize;
}

.pokemon_page__details {
  padding: 5px;
  border: 1px solid gray;
  width: min-content;
}

/* EVOLUTION LIST */
.evolution_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.evolution_list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.evolution_list__item--curent {
  opacity: 0.6;
  pointer-events: none;
}

@media (min-width: 992px) {
  .pokemon,
  .pokemon__sprite {
    width: 160px;
    height: 160px;
  }
}
